<div class="top-banner">
  <img class="top-banner-img" src="assets/images/top-banner.jpg" alt="">
</div>
<app-navbar></app-navbar>
<ng-container class="container-ads">
  <div class="content-ads-1">
    <img class="img-ads" src="assets/images/ads_1.jpg" alt="">
    <div class="content-ads-2" >
      <a href="">
        <img src="assets/images/ads_2.png" alt="">
      </a>
      <a href="">
        <img class="img-ads" src="assets/images/ads_3.jpg" alt="">
      </a>
    </div>
  </div>

  <div class="container-flashsale">
    <div class="flashsale-end">
      <h3>FLASH SALE </h3> &nbsp; 
      <p>Kết thúc trong </p> &nbsp;  <p> 00 </p> <p> : </p> <p> 00 </p> <p> : </p> <p> 00 </p>
    </div>
    <div class="flashsale-col">
      <div class="flashsale-col-1">
        <img src="assets/images/flashsale_1.jpg" alt="">
        <a href="/" >
          <h5>Trốn lên mái nhà để khóc - Tặng Kèm Bookmark</h5>
          <h3>10.000 đ</h3>
        </a>
      </div>
      <div class="flashsale-col-2">
        <img src="assets/images/flashsale_1.jpg" alt="">
        <a href="/" >
          <h5>Trốn lên mái nhà để khóc - Tặng Kèm Bookmark</h5>
          <h3>10.000 đ</h3>
        </a>
      </div>
      <div class="flashsale-col-2">
        <img src="assets/images/flashsale_1.jpg" alt="">
        <a href="/">
          <h5>Trốn lên mái nhà để khóc - Tặng Kèm Bookmark</h5>
          <h3>10.000 đ</h3>
        </a>
      </div>
      <div class="flashsale-col-2">
        <img src="assets/images/flashsale_1.jpg" alt="">
        <a href="/">
          <h5>Trốn lên mái nhà để khóc - Tặng Kèm Bookmark</h5>
          <h3>10.000 đ</h3>
        </a>
      </div>
    </div>
  </div>
</ng-container>
